node_modules/
dist/
*.zip
*.exe
*.dmg
.DS_Store
Thumbs.db
ClutchApp-Windows/
ClutchApp-Setup/
clutch-web/
clutch-website/
test-block.js
test-block2.js
test-script.js
test-dom.js
dom_error.log
fix.js
fix-html.js
fix-html2.js
fix-and-build.js
{const
Yeni*
*.lnk
auth_replace.ps1
